<div id="contentBlock">
	
	<div class="box">
		<!-- the slider content holder -->
		<div class="slider-wrapper theme-pascal">
			<div class="ribbon"></div>
			<div id = "slider" class=""nivoSlider"">
		        <!-- the elements inside the slider, have as many as you want -->
		        <img src="assets/frontpage/img1.jpg" alt="" />
				<img src="assets/frontpage/img2.jpg" alt="" />
				<img src="assets/frontpage/img3.jpg" alt="" />
			</div>
			<div id="htmlcaption" class="nivo-html-caption">
		    	<strong>This is an example of a caption.
			</div>
		</div><!-- slider -->		
	</div>


	<%= form_for @user, :url => { :controller => 'users', :action => 'create' } do |f| %>
		<div class="signup">
			<h2 class="title"><b>New to zAdZip?</b> Join Today!</h2>
			<div class="in">
				<span class="left">
	    		<%= f.text_field :email, :title => "Email" , :class => "signupbox"%><br />
	    		<span><%= f.password_field :password, :title => "Password", :class => "signupbox" %></span>
				<span><%= f.submit 'Sign Up', :class => "submit" %></span><br />
				<%= f.password_field :password_confirmation, :title => "Confirm Password", :class => "signupbox" %>
			</div> 
		</div>

	<% end %>


	
</div>