<%= form_for (@user) do |f| %>
	
	<div class="signup">
		<h2 class="title"><b>New to zAdZip?</b> Join Today!</h2>
		<div class="in">
			<span class="left">
    		<%= f.text_field :email, :title => "Email" , :class => "signupbox"%><br />
    		<span><%= f.password_field :password, :title => "Password", :class => "signupbox" %></span>
			<span><%= f.submit 'Sign Up', :class => "submit" %></span><br />
			<%= f.password_field :password_confirmation, :title => "Confirm Password", :class => "signupbox" %>
		</div> 
	</div>
	
	<% if @user.errors.any? %>
			<div id="errorExplanation">
				<h5><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h5>
				<ul>
					<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
	<% end %>
	
	
<% end %>

